Source: python-eigen
Section: python
Priority: optional
Maintainer: Pierre Gergondet <pierre.gergondet+ppa@gmail.com>
Build-Depends: debhelper (>=9),
 cmake,
#PYTHON2  python-all,
#PYTHON2  python-coverage,
#PYTHON2  python-dev,
#PYTHON2  python-numpy,
#PYTHON2  python-pytest,
#PYTHON2  python-setuptools,
#PYTHON2  cython,
 python3-all,
 python3-coverage,
 python3-dev,
 python3-numpy,
 python3-pytest,
 python3-setuptools,
 cython3,
 libeigen3-dev
Standards-Version: 3.9.5
Homepage: https://github.com/jrl-umi3218/Eigen3ToPython
Vcs-Git: git://github.com/jrl-umi3218/Eigen3ToPython -b debian
Vcs-Browser: https://github.com/jrl-umi3218/Eigen3ToPython

#PYTHON2 Package: python-eigen
#PYTHON2 Architecture: any
#PYTHON2 Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}, python-numpy
#PYTHON2 Description: Python library that aims to make a bidirectional bridge
#PYTHON2  between Numpy and Eigen3 and facilitate the use of Eigen in Cython
#PYTHON2  bindings. Supports Python 2.

Package: python3-eigen
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}, python3-numpy
Description: Python library that aims to make a bidirectional bridge
 between Numpy and Eigen3 and facilitate the use of Eigen in Cython
 bindings. Supports Python 3.
